# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
infra-live2/terraform.tfvars

# OS
.DS_Store

# Python
__pycache__/
*.pyc

# Env files
.env

#Docker
venv/
app/venv/
app/.pytest_cache/
